<link rel="stylesheet" href="css/layout.css">
<% if(!locals.userIn){ %>
    <div class=navbar>
        <a href="/users/sign-in"><button>Sign In</button></a>
        <a href="/users/sign-up"><button>Sign Up</button></a>
    </div>
<% }else{ %>
    <div class="navbar">
        <a href="/users/sign-out"><button>Sign Out</button></a>
    
    </div>
<%}%>

<h1>Hello Welcome to Nira!</h1>
<% if(locals.userIn){ %>
<div>
    <form action="/post/create" method="post">
        <textarea name="content" id="" cols="30" rows="10" placeholder="what's in your mind?"></textarea>
        <input type="submit" value="Post">
    </form>
<%}%>
<main>
    <%for(posts of post){%>
            <div id="post<%=posts.id%>">
                <div><%= posts.post %></div>
                <div>Created By - <%= posts.user.name %></div>
                <form action="/comment/create" method="post">
                    <input type="text" name="comment" placeholder="Add your Comment">
                    <input type="hidden" name="postId" value="<%=posts.id%>">
                    <input type="submit" value="Post">
                </form>
                <div id="comments-container">
                    <%for(comments of posts.comment){%>
                        <div></div>
                        <div><%= comments.content %> - [Posted by<%=comments.user.name%>]</div>
                    <%}%>
                </div>
            </div>
    <%}%>
</main>
<aside>
    <%for(users of all_users){%>
            <div><%= users.name %></div>
    <%}%>
</aside>

</div>
