<% if(!locals.userIn){ %>
    <div class=navbar>
        <a href="/users/sign-in"><button>Sign In</button></a>
        <a href="/users/sign-up"><button>Sign Up</button></a>
    </div>
<% }else{ %>
    <div class="navbar">
        <a href="/users/sign-out"><button>Sign Out</button></a>
        <a href="/"><button>Feed</button></a>
    </div>
<%}%>


<h1>Hello this is your profile</h1>
<h2>Name:       <%=profile.name%></h2>
<h2>Email:      <%=profile.email%></h2>


<%if(locals.userIn.id==profile._id){%>
        <img src="<%=profile.avatar%>" alt="<%=profile.name%>">

        <form action="/users/update/<%=profile.id%>" enctype="multipart/form-data" method="POST">
            <h1>Edit Your Profile</h1>
            <input type="text" name="name" placeholder="your name" value="<%=profile.name%>" required>
            <input type="text" name="email" placeholder="your email" value="<%=profile.email%>" required>
            <input type="file" name="avatar" placeholder="your profile image">
            <input type="submit" value="update">
        </form>
<%}%>